* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sfondo {
    height: 100vh;
    width: 100vw;
}

.green-bar {
    height: 150px;
    background-color: #009688;
}

.grey-background {
    height: calc(100% - 150px);
    width: 100%;
    background-color: #dadbd3;
}

.corpo-app {
    position: absolute;
    top: 18px;
    height: calc(100% - 36px);
    width: 1200px;
    background-color: white;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
}

.left-corpo {
    float: left;
    height: 100%;
    width: 35%;
    border-right: 1px solid #dadbd3;
    overflow: auto;
}

.right-corpo {
    float: left;
    height: 100%;
    width: 65%;
    background-color: #ededed;
}

.profilo-personale {
    height: 95px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.barra-notifiche {
    height: 95px;
    width: 100%;
    background-color: #99dffc;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.barra-ricerca {
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    color: #7c8386;
}

img {
    height: 70px;
}

.icone-profilo-personale i {
    color: #bababa;
    font-size: 25px;
    padding-right: 20px;
}

.bell-circle-background {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-circle-background i {
    font-size: 25px;
    color: #99dffc;
}

.text-notifiche {
    margin-left: 10px;
}

h3 {
    font-size: 16px;
}

p {
    font-size:  14px;
}

.text-notifiche p {
    color: #7c8386;
    text-decoration: underline;
}

.barra-ricerca-fusione {
    background-color: white;
    border-radius: 18px;
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#search-bar {
    width: 100%;
    border: none;
    padding-left: 10px;
}

.profilo-left {
    height: 75%;
    display: flex;
    flex-direction: column;
}

.profilo-amico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ededed;
}

.profilo-amico img {
    padding-left: 10px;
}

.testo-amico {
    margin-right: 40px;
}

.testo-amico p {
    color: #7c8386;
}

.profilo-right {
    color: #bababa;
    display: flex;
    align-items: center;
}

.foto-profilo-right {
    margin: 10px;
}

.testo-profilo-right {
    margin-right: 350px;
    margin-left: 10px;
}

.testo-profilo-right h3 {
    color: black;
}

.utilities-profilo-right i {
    font-size: 25px;
    padding-right: 20px;
}



.corpo-chat {
    height: calc(100% - 160px);
    background-image: url('../img/wallpaper.png');
    background-size: contain;
    display: none;
    flex-direction: column;
    color: black;
    font-weight: 600;
    overflow: auto;
}

.messaggio-ricevuto {
    min-width: 150px;
    min-height: 50px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: white;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;

}

.messaggio-inviato {
    min-width: 150px;
    min-height: 50px;
    max-width: 300px;
    background-color: #dafac2;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

#time-mex {
    font-size: 12px;
    color: #c4c7c8;
    align-self: flex-end;
}

.barra-messaggio {
    height: 65px;
    color: #767e81;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.smile-face i,
.mic-mex i {
    font-size: 25px;
}

#mex-bar {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    width: 650px;
    padding: 15px;
}

#invia-messaggio:hover,
#microfono-mex:hover {
    cursor: pointer;
}

#invia-messaggio:active,
#microfono-mex:active {
    color: black;
}

.template,
.template-ricevuto {
    display: none;
}

.profilo-amico:hover{
    cursor: pointer;
    background-color: #ededed;
}


.active {
    display:flex;
}

.fas.fa-chevron-down:hover {
    cursor: pointer;
}

.fas.fa-chevron-down {
    align-self: flex-end;
    font-size: 16px;
    position: absolute;
    color: #bababa;
}


.info-messaggio {
    align-self: flex-end;
    position: absolute;
    right: 5px;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    height: 50px;
    width: 150px;
    display: none;
    align-items: center;
    justify-content: center;
}

.info-messaggio:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.info-messaggio h3 {
    color: rgba(0, 0, 0, 0.5);
}

.displayflex {
    display: flex;
}
